<!doctype html>
<html>
	<head>
		<title>Bahuma Chat</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="libs/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="libs/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="libs/jquery/2.1.0/jquery-2.1.0.min.js"></script>
		<script src="libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="js/frontpage.js"></script>
	<head>
	<body>
    	<div class="jumbotron">
    		<h1>Bahuma Chat!</h1>
    		<p>A simple web based Chat</p>
    		<p>
    			<a class="btn btn-primary btn-lg loginbutton" role="button" href="/chat.html">Login</a>
    			
    		</p>
    	</div>
	</body>
</html>